<footer class="footer">
  <div class="footer__info">
    <img [src]="img" alt="footer img" style="width: 160px;">
    <div class="info">
      <a href="#">Про ГІОЦ</a>
      <a href="#">Новини</a>
      <a href="#">Контакти</a>
    </div>
    <div class="info">
      <a href="#">Сервіси</a>
      <a href="#">Практична інформація</a>
    </div>
    <div class="info">
      <a href="#">Угоди користувача сайту</a>
    </div>
  </div>
  <div class="footer__sub">
    <span>1963 — 2021 © КП ГіОЦ. Всі права захищені.</span>
    <div class="icons">
      <a href="https://www.facebook.com/gioc.kmda/" target="_blank">
        <img src="assets/media/facebook_white_24dp.svg" alt="facebook icon">
      </a>
      <a href="https://www.linkedin.com/company/kyiv-municipal-administration-utility-company-gioc-/about/" target="_blank">
        <img src="assets/media/link_black_24dp.svg" alt="Linked in icon">
      </a>
    </div>
  </div>
</footer>
