<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="/assets/media/giots_logo.svg" alt="" routerLink="/" style="cursor: pointer">
        <app-nav></app-nav>
      </div>
      <div class="user" *ngIf="newUser; else authLogin" style="display: flex; padding:0 10px; align-items: center">
        <img src="{{newUser?.photoURL || ifPhotoNotFound}}" alt="user photo" style="width: 34px; border-radius: 25%; margin-right: 5px">
        <span style="font-size: 1rem; font-weight: 600">{{newUser?.displayName || newUser?.email}}</span>
        <div class="login">
          <button class="signInBtn" (click)="auth.signOut()">Sign Out</button>
        </div>
      </div>
      <ng-template #authLogin>
        <div class="login">
          <button class="signInBtn" routerLink="/login">Sign In</button>
          <button class="signUpBtn" routerLink="/registration">Sign Up</button>
        </div>
      </ng-template>
    </div>
  </div>
</header>
