<div class="news">
  <div class="news__inner">
    <div class="news__card">
      <h1>Обшуки у КП ГІОЦ</h1>
      <span>Суддя Святошинського районного суду надав дозвіл на проведення обшуку в комунальному підприємстві "Головний інформаційно-обчислювальний центр". Сьогодні, 02.06.2021 тривали обшуки у КП ГІОЦ.</span>
    </div>
    <div class="news__card">
      <h1>Відомості з РТГК</h1>
      <span>Пропозиція щодо підписання договору про надання інформаційних послуг щодо формування знеособлених відомостей з інформаційно-телекомунікаційної системи «Реєстр територіальної громади міста Києва»</span>
    </div>
    <div class="news__card">
      <h1>Поповнення транспортного ресурсу транспортних карток на умовах безготівкового розрахунку</h1>
      <span>Комунальне підприємство «Головний інформаційно-обчислювальний центр» (далі – КП ГІОЦ) надає послуги з поповнення транспортного ресурсу транспортних карток на умовах безготівкового розрахунку з урахуванням встановлених тарифів на послуги з перевезення пасажирів у міському пасажирському транспорті міста Києва.</span>
    </div>
  </div>
  <div class="btn">
  <app-button [text]="$any('Всі новини ')"></app-button>
    <img src="/src/assets/media/play_circle_filled_black_24dp.svg" alt="arrow">
  </div>
</div>
