<div class="search">
  <div class="container">
    <div class="search__inner">
      <div class="search__nav">
        <div><a routerLink="#">СЕРВІСИ</a></div>
        <div><a routerLink="#">ІНФОРМАЦІЯ</a></div>
        <div><a routerLink="#">КОНТАКТИ</a></div>
        <div><a routerLink="#">КИЇВ ЦИФРОВИЙ</a></div>
      </div>
      <div class="search__section">
        <label>
          <input type="text" maxlength="100" placeholder="Введіть пошуковий запит" name="search">
        </label>
        <app-button class="btn" [text]="$any('Шукати')"></app-button>
      </div>
    </div>
  </div>
  <div class="description">
    <h1>КП ГІОЦ ЩОДНЯ ВДОСКОНАЛЮЄ СЕРВIСИ ТА СТВОРЮЄ НОВI ТЕХНОЛОГIЧНI ПРОДУКТИ ДЛЯ ВАС</h1>
  </div>
</div>
