<div class="service">
  <div class="service__inner">
    <div class="service__comfortable">
      <div class="service__comfortable-block">
        <h1>ЗРУЧНО!</h1>
        <h2>У БУДЬ-ЯКИЙ ЧАС</h2>
        <h2>З БУДЬ-ЯКОГО МICЦЯ</h2>
      </div>
    </div>
    <div class="container-service">
      <div class="service__pick-service">
        <div class="pick__service">
          <h1>ОБЕРІТЬ ПОСЛУГУ</h1>
          <div>
            <a routerLink="#">Повний перелік послуг</a>
          </div>
        </div>
        <div class="services__items">
          <div class="service__item">
            <img src="/assets/media/giots_srv_auto.svg" alt="car">
            <div>Купити абонемент паркування</div>
          </div>
          <div class="service__item">
            <img src="/assets/media/giots_card.svg" alt="">
            <div>Перекази з картки на картку
            </div>
          </div>
          <div class="service__item">
            <img src="/assets/media/giots_srv_check.svg" alt="">
            <div>Платежі за проїзд у транспорті</div>
          </div>
          <div class="service__item">
            <img src="/assets/media/giots_srv_auto.svg" alt="">
            <div>Cплата штрафів за порушення ПДР</div>
          </div>
          <div class="service__item">
            <img src="/assets/media/giots_bear.svg" alt="">
            <div>Платежі за харчування у дитячих садках м. Києва</div>
          </div>
          <div class="service__item">
            <img src="/assets/media/giots_phone.svg" alt="">
            <div>Поповнення рахунку на мобільному</div>
          </div>
          <div class="service__item">
            <img src="/assets/media/giots_srv_check.svg" alt="">
            <div>Платежі до ПАТ «Київоблгаз»</div>
          </div>
          <div class="service__item">
            <img src="/assets/media/giots_srv_pen.svg" alt="">
            <div>Запис до дитячого садочку онлайн</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
