<div class="history">
  <div class="history__inner">
    <div class="history__card">
      <h3>ІСТОРІЯ ПІДПРИЄМСТВА</h3>
      <img src="/assets/media/service_bkg_01.jpg" alt="card1">
      <div>Інформатизація України починається з інформатизації її столиці.</div>
      <span>З початку 90-х років Головний інформаційно-обчислювальний центр Київської міської держадміністрації вирішує питання автоматизації різних галузей народного господарства столиці України. Підприємство тісно співпрацює з виробниками/виконавцями житлово-комунальних послуг, районними управліннями праці та соціального захисту населення, управліннями освіти тощо.</span>
    </div>
    <div class="history__card">
      <h3>НАША ДІЯЛЬНІСТЬ</h3>
      <img src="/assets/media/service_bkg_02.jpg" alt="card2">
      <div>Інформатизація України починається з інформатизації її столиці.</div>
      <span>З початку 90-х років Головний інформаційно-обчислювальний центр Київської міської держадміністрації вирішує питання автоматизації різних галузей народного господарства столиці України. Підприємство тісно співпрацює з виробниками/виконавцями житлово-комунальних послуг, районними управліннями праці та соціального захисту населення, управліннями освіти тощо.</span>
    </div>
  </div>
  <div class="btn">
    <app-button class="btn" [text]="$any('ПРО КП ГIОЦ')"></app-button>
    <img src="/assets/media/chevron_right_black_24dp.svg" alt="arr-right">
  </div>
</div>
